.bar {
  padding: 0 20px;
  transition: all 0.5s ease;

  .logo {
    width: 30px;
    height: 30px;
  }

  .title {
    font-size: 25px;
    font-weight: bold;
  }
}

.navigation {
  transition: all 0.5s ease;
}

.main-view {
  transition: all 0.5s ease;
  padding-top: 64px;
  /* 可以根据实际 app-bar 高度调整 */
}